.form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #94d497;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}


.btn-custom {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.btn-custom:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.form-control {
    border-radius: 30px;
    box-shadow: none;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}